/* ----- THEME COLOUR ----- */

.triyasi-action-btn,
.triyasi-main-navbar .triyasi-main-nav li a:hover,
.triyasi-main-navbar .triyasi-main-nav li a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.triyasi-main-slider .triyasi-single-slider .triyasi-main-slider-content .triyasi-slider-optional-title,
.triyasi-tentang-kami-description ul li:before,
.triyasi-title .triyasi-subtitle,
.triyasi-footer-copyright p a:hover,
.triyasi-footer-copyright p a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
.triyasi-main-navbar .navbar-header .navbar-brand span {
    color: #e5e14c;
}

.triyasi-action-btn::after,
.triyasi-main-slider .slick-dots li button {
    border: 2px solid #e5e14c;
}

.navbar-default .navbar-toggle .icon-bar,
.triyasi-main-slider .slick-dots li.slick-active button::before {
    background-color: #e5e14c;
}

.triyasi-main-slider .slick-prev:hover,
.triyasi-main-slider .slick-prev:focus,
.triyasi-main-slider .slick-next:hover,
.triyasi-main-slider .slick-next:focus {
    background-color: #e5e14c;
    border-color: #e5e14c;
}